@font-face {
  font-family: "DotGothic16";
  src: url("./../assets/fonts/DotGothic16-Regular.ttf") format('truetype');
}

body {
    font-family: "DotGothic16", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dcdcdc;
    color: #161616;
}
.button {
    font-family: inherit;
    background-color: #dcdcdc;
    color: #161616;
}
h1{
    font-weight: normal;
}
h2{
    font-weight: normal;
}
h3{
    font-weight: normal;
}